body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    color: whitesmoke;
}

input, button, submit {
    border: none;
}

.ansButton {
    width: 30%;
    height: 30%;
    text-align: center;
    display: inline-block;
    margin: 0;
    margin-right: 2%;
    border: 1px solid grey;
    color: whitesmoke;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.45);
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.ansButtonWrong {
    width: 30%;
    height: 30%;
    background-color: red;
    text-align: center;
    display: inline-block;
    margin: 0;
    margin-right: 2%;
    border: 1px solid grey;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.ansButton:hover {
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-color: lightgrey;
}

.title {
    text-align:center;
}

.sidebar {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.45);
    border: solid grey 1px;
    padding-right: 20px;
    margin: 1% 1% 1% 1%;
}

.liSelected {
    font-weight: bold
}

.wrapper {
    text-align: center;
}

.content {
    background-color: rgba(0,0,0,0.5);
    border: solid grey 1px;
    display: inline-block;
    width: 40%;
    padding-bottom:2%;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
}

table, th, td {
    border: 1px solid #bfbfbf;
}

th, td {
    padding: 10px;
}

.resultText {
	font-size: 1.7em;
}